GROQ_OUTREACH_KEY=gsk_wH1XiycMhgit76axyBsdWGdyb3FYxH6lj
GEMINI_API_KEY="AIzaSyCH4uivHSa1F7qOTwXiBd8"
GROQ_API_KEY="gsk_wH1Xi"


APIFY_API_TOKEN="apify_api_"
APIFY_API_TOKEN_2="apify_api_"
APIFY_API_TOKEN_3=apify_api_"


GOOGLE_SHEET_ID=1266NiEsz-r1E


AWS_ACCESS_KEY=AKIAST
AWS_SECRET_KEY=gS13JF+m
S3_BUCKET_NAME=ghw
AWS_REGION=ap-


FLASK_SECRET_KEY=itsneededtobe32
SERVER_PORT=port
LOG_LEVEL=info


DASHBOARD_USER=a
DASHBOARD_PASS=A2004
SMTP_HOST=.com
SMTP_PORT=
SMTP_EMAIL=bs
SMTP_PASSWORD=Ag
AGENCY_NAME=Web


#Evolution Watsapp Automations:
EVOLUTION_URL=h8080
#EVOLUTION_API_KEY=F45817EF-49AC-4CD9-ABE1-1237497A7C5A
EVOLUTION_INSTANCE=g
EVOLUTION_API_KEY=A9-25277E6F12CF
#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
#this is the PAT for github repo
SERVER_DOMAIN=https:.io



EVOLUTION_GLOBAL_KEY=g
EVOLUTION_INSTANCE_PHONE=9178